iframe {
  height: 100%;
  width: 100%;
}

.fit{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

#iframe-wrapper{
  overflow: hidden;
}

body{
  background-image: url(../images/background_paper_tile.jpeg);
  font-family: "Finger Paint";
  padding: 5px;
  color: rgba(0, 0, 0, 0.7);
  -webkit-user-select: none;
  cursor: default;
}

#main-ctn {
  width: 700px;
  height: 500px;
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  overflow: hidden;
  box-shadow: 1px 1px 1px;
  border: 1px solid rgba(0, 0, 0, 0.5);
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 20px;
  color: rgba(255, 255, 255, 0.5);
}



.button{
  width: 263px;
  text-align: center;
  border-radius: 20px;
  color: rgba(255, 255, 255, 0.9);
  text-shadow: -1px -1px 0px black;
  border: 1px solid transparent;
  margin-left: 219px;
  font-size: 32px;
  margin-top: 60px;  
}

.button:hover {
  box-shadow: 1px 1px rgba(0,0,0,0.4);
}

.button:active{
  box-shadow:inset 1px 2px rgba(0,0,0,0.4);

}

.account{
  background-image: -webkit-linear-gradient(top,#7F4DFE,#7546EB);
}

.random{
  background-image: -webkit-linear-gradient(top,#4D90FE,#4787ED);

}

.stats{
  background-image: -webkit-linear-gradient(top,#DD4B39,#D14836);

}

.logout{
  background-image: -webkit-linear-gradient(top,#2E2E2E,#212121);
}

.options-ctn{
  height: 100%;
  width: 100%;
}

.return-button{
  font-size: 20px;
  width: auto;
  position: absolute;
  left: 9px;
  top: 9;
  margin: 0;
  padding-left: 5px;
  padding-right: 5px;
}

.label{
  color: white;
  width: 100%;
  text-align: center;
  font-size: 32px;
  margin-top: 80px;
}

.blur{
  color: rgba(255, 255, 255, 0.5) !important;
  text-shadow: -1px -1px 0px rgba(0, 0, 0, 1);
  /*text-align: right;*/
}

.focus{
  box-shadow: inset 0 0 10px white;
  color: white !important;
}


.password{
  position: absolute;
  color: inherit;
  text-align: left;
}
.password-wrapper{
  width: inherit;
  height: inherit;
  position: absolute;
  z-index: 2;
  border-radius: 4px;
}

.password-wrapper:hover{
  cursor: text;
}


.input-box-wrapper{
  width: 200px;
  height: 40px;
  overflow: hidden;
  box-shadow: inset 0 0 1px;
  border: 1px solid rgba(0, 0, 0, 0.5);
  height: 40px;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  font-size: 24px;
  margin-bottom: 30px;
  border-radius: 4px;
  margin-left: 255;
  margin-top: 55px;
}

input{
  width: inherit;
  height: inherit;
  -webkit-user-select : text;
  border: none;
  -webkit-appearance: none;
  font-size: 24px;
  font-family: "Finger Paint";
  background-color: transparent;
  text-shadow:inherit;
  text-align: inherit;
  outline: none;
  white-space: nowrap; 
  color: inherit;
  border-radius: 4px;
}

input:focus{
  color: white;
}